.appTitle{
  text-align: center;
}

.step_form{
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  margin-top: 50px;
}

.step_form .numbers{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.step_form .numbers .num{
  width: 50px;
  height: 50px;
  background-color: rgb(201, 201, 201);
  display: grid;
  place-content: center;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
}

.step_form .numbers .num.active{
  background-color: blueviolet;
  color: white;
}

.buttons{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.buttons button{
  padding: 8px 20px;
  background-color: blueviolet;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:disabled{
  opacity: 0.4;
  cursor: auto;
}

form .inpBox{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form .inpBox input,form .inpBox select{
  padding: 5px;
}

.dataTable{
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}

.dataTable tr{
  width: 100%;
}

.dataTable td,.dataTable th{
  width: 33.33%;
  text-align: left;
}

.userData{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
}

.s_data{
  padding: 10px;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 10px;
}